/* AmericanTypewriter */
@font-face {
    font-family: 'AmericanTypewriter';
    src: url('../fonts/AmericanTypewriter.eot');
    src: local('AmericanTypewriter'),
        url('../fonts/AmericanTypewriter.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AmericanTypewriter.woff2') format('woff2'),
        url('../fonts/AmericanTypewriter.woff') format('woff'),
        url('../fonts/AmericanTypewriter.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular.eot');
    src: local('Formular'),
        url('../fonts/Formular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular.woff2') format('woff2'),
        url('../fonts/Formular.woff') format('woff'),
        url('../fonts/Formular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}